In [9]:
import numpy as np
import pandas as pd

a = np.arange(0.06,0.1,0.02)
s = pd.Series(a)
df = pd.DataFrame(s)
df

      0
0  0.06
1  0.08
2  0.10

In [31]:
import pandas as pd
cols = "b,c,f"
df = pd.read_excel('C:/대학수업/2022.1학기/스프레드시트/data/apt_price.xlsx',nrows=99,usecols=cols)
df['단지명'].unique()

array(['송정한신', '송정해변신도브래뉴아파트', '강릉교동롯데캐슬1단지', '강릉교동롯데캐슬2단지', '강원',
       '교동1주공', '교동3주공', '교동대림', '교동이-편한세상', '부영1', '부영3차', '부영5', '부영6',
       '예성그린1', '정아타워맨션', '한신', '현대하이빌', '삼익그린맨션', '강부2', '남산삼익', '내곡동현대',
       '내곡주공', '내곡한라', '삼창그린', '고합', '노암2주공', '노암3한라', '노암남산현대', '노암한라',
       '대림임대', '신화', '양우내안애', '현대'], dtype=object)

In [32]:
stocks={'Homotors':'005380.KS'}
data = pd.DataFrame()
stocks['Homotors']

'005380.KS'