In [ ]:
import pandas as pd
df = pd.read_excel("C:/대학수업/2022.1학기/스프레드시트/중간데이터/onlinedelivery.xlsx")
df

In [ ]:
variables = ['Foodquality','Taste','Quantity']
nums = []
for var in variables:
    num = df[var].value_counts()
    nums.append(num)
data = pd.DataFrame(nums)
nums

In [ ]:
import pandas as pd
df = pd.read_excel('C:/대학수업/2022.1학기/스프레드시트/중간데이터/customer.xlsx')
df['birthyear'] = df['birthdate'].dt.year
df['jointime'] = df['customer_since'].dt.to_period('M')
# df['jointime'].astype(str)

df.drop(['customer_since','birthdate'],axis=1,inplace=True)
df['jointime'][1]

In [ ]:
import pandas as pd
df = pd.read_excel('C:/대학수업/2022.1학기/스프레드시트/중간데이터/customer.xlsx')
df['birthyear'] = df['birthdate'].dt.year
df['jointime'] = df['customer_since'].dt.to_period('M')
df['jointime2']=df['customer_since'].dt.year
df['jointime3']=df['customer_since'].dt.month
df = df.query('birthyear>1995 & jointime2 ==2017 & jointime3 == 1')
df.drop(['jointime2','jointime3'],axis=1,inplace=True)
df

In [ ]:
df['customer_id']=df['customer_id'].astype(str)
df['customer_id']=df['customer_id'].str[-2:]
df['customer_first_name']=df['customer_first_name'].str[0:3]
df

# 3 번

In [ ]:
import pandas as pd
df =pd.read_excel('C:/대학수업/2022.1학기/스프레드시트/중간데이터/staff.xlsx')
df

In [ ]:
df['채용연도'] = df['채용일자'].str[-4:]
df['채용연도'] = df['채용연도'].astype(int)
df['근무기간(년)']=2021-df['채용연도']
df['채용일자'].dtype

In [ ]:
names=['Aline Melanie','Joelle Christen','Tatum Laurel','Pandora Neville','Desiree Anika']
df1= pd.DataFrame()
df1['성명'] =df1.append(names)
data = pd.concat([df,df1],axis=1)

data

In [ ]:
data1=data.sort_values(by='근무기간(년)',ascending=False,axis=0,ignore_index=True)
data1

In [ ]:
data

In [4]:
import pandas as pd
df =pd.read_excel('C:/대학수업/2022.1학기/스프레드시트/중간데이터/staff.xlsx')

df['채용연도'] = df['채용일자'].str[-4:]
df['채용연도'] = df['채용연도'].astype(int)
df['근무기간(년)']=2021-df['채용연도']
df

names=['Aline Melanie','Joelle Christen','Tatum Laurel','Pandora Neville','Desiree Anika']
df1= pd.DataFrame()
df1['성명'] =df1.append(names)
data = pd.concat([df,df1],axis=1)

data.sort_values(by='채용연도',ascending=True,axis=0,inplace=True)
data.set_index('채용연도',inplace=True)
data.drop('이름',axis=1,inplace=True)
data.drop('성',axis=1,inplace=True)
# data['채용일자'] = data['채용일자'].replace

data

            채용일자  근무기간(년)               성명
채용연도
2008   16/5/2008       13    Desiree Anika
2013  11/11/2013        8  Joelle Christen
2015   31/1/2015        6     Tatum Laurel
2017   14/3/2017        4    Aline Melanie
2019   21/3/2019        2  Pandora Neville

In [2]:
data['채용일자']=data['채용일자'].str[:-5]
data

       채용일자  근무기간(년)               성명
채용연도
2008   16/5       13    Desiree Anika
2013  11/11        8  Joelle Christen
2015   31/1        6     Tatum Laurel
2017   14/3        4    Aline Melanie
2019   21/3        2  Pandora Neville