In [2]:
import pandas as pd
df = pd.read_excel('C:/대학수업/2022.1학기/스프레드시트/중간데이터/Bank.xlsx')
def credit_level(x):
    if x<= 600:
        credit = '저신용자'
    elif x<=800:
        credit = '중신용자'
    elif x>800:
        credit = '고신용자'
    return credit
df['신용도']=df['신용점수'].apply(credit_level)
df.head()

         ID  신용점수      성별        예금잔액   신용도
0  15634602   619  Female         0.0  중신용자
1  15647311   608  Female   8380786.0  중신용자
2  15619304   502  Female  15966080.0  저신용자
3  15701354   699  Female         0.0  중신용자
4  15737888   850  Female  12551082.0  고신용자

In [4]:
df.sort_values(by='예금잔액',axis=0,ascending=False,inplace=True)
df.head()

            ID  신용점수      성별        예금잔액   신용도
2092  15757408   655    Male  25089809.0  중신용자
3280  15715622   583  Female  23838756.0  저신용자
8733  15714241   749    Male  22226763.0  중신용자
3588  15571958   489    Male  22153280.0  저신용자
6717  15586674   663  Female  21610988.0  중신용자

In [17]:
data = df.query("성별 =='Male'")
data['신용도'].value_counts()

중신용자    3416
저신용자    1684
고신용자     357
Name: 신용도, dtype: int64