# 1주차 1차시

In [1]:
import pandas as pd
pd.date_range('2020-01-01',periods=5,freq='H')

DatetimeIndex(['2020-01-01 00:00:00', '2020-01-01 01:00:00',
               '2020-01-01 02:00:00', '2020-01-01 03:00:00',
               '2020-01-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [2]:
pd.date_range('2020-01-01',periods=5,freq="D")

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [3]:
pd.date_range('2020-01-01',periods=5,freq="MS")

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01'],
              dtype='datetime64[ns]', freq='MS')

In [4]:
import numpy as np

In [7]:
a = np.arange(1,6)
b = pd.date_range('2019-09-01',periods=5,freq="D")
s = pd.Series(a,index = b)
s

2019-09-01    1
2019-09-02    2
2019-09-03    3
2019-09-04    4
2019-09-05    5
Freq: D, dtype: int32

# 엑셀파일 불러와서 실행

In [21]:
df = pd.read_excel('C:\\대학수업\\2022.1학기\\파이썬을이용한데이터분석\\data\\saledata.xlsx')
df.head()    #기본값 = (5)

,계정번호,고객,상품,주문수량,단가,주문액,일자
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2014-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2014-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2014-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2014-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2014-01-01 23:26:55

In [22]:
df.dtypes

계정번호      int64
고객       object
상품       object
주문수량      int64
단가      float64
주문액     float64
일자       object
dtype: object

In [23]:
df['일자'] = pd.to_datetime(df['일자'])               # 일자 데이터를 문자열에서 datetime 으로 바꿈
df.dtypes

계정번호             int64
고객              object
상품              object
주문수량             int64
단가             float64
주문액            float64
일자      datetime64[ns]
dtype: object

In [24]:
df.set_index('일자',inplace=True)    # 일자를 인덱스로 설정하고 /저장/
df.head(2)

                       계정번호               고객        상품  주문수량     단가      주문액
일자
2014-01-01 07:21:51  740150       Barton LLC  B1-20000    39  86.69  3380.91
2014-01-01 10:00:47  714466  Trantow-Barrows  S2-77896    -1  63.16   -63.16